# Node.js
node_modules/
npm-debug.log
yarn-error.log

# OS System Files
.DS_Store
Thumbs.db

# Web Build Artifacts
dist/
build/

# Capacitor - Android
# Note: We usually commit the 'android' folder itself, but ignore the build files inside it.
android/build/
android/app/build/
android/.gradle/
android/local.properties
android/*.iml
android/.idea/
android/captures/
android/.externalNativeBuild/
android/.cxx/

# Capacitor - General
capacitor.config.json.timestamp
